.dark-mode{
     background-color: #283046!important;
     color: #f5f5f5!important;
     transition: all .3s ease-in-out;
}
.dark{
     background-color: #161d31!important;
     transition: all .3s ease;
}
.light {
     background-color: #f8f8f8;
     color: #283046;
     transition: all .3s ease;          
}

.sidebar .menu .item-menu .item-menu-label{
     color: #283046;
}
.sidebar .menu .item-menu .item-menu-label:hover{
     color: #f5f5f5;
     background: #283046;
     transition: all .3s ease-in-out;
}
.sidebar.dark-mode .menu .item-menu .item-menu-label{
     color: #f5f5f5;
     
     transition: all .3s ease-in-out;
}
.sidebar.dark-mode .menu .item-menu .item-menu-label:hover{
     background-color: #9575cd;
     color: #f5f5f5;
     transition: all .3s ease-in-out;
}


.sidebar{
     position: fixed;
     z-index: 1000;
     height: 100%;
     width: 80px;
     
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     transition: all .3s ease;
}
.sidebar.active{
     width: 260px;
     transition: all .3s ease;
}
.sidebar .logo .logo-detaile{
     height: 40px;
     list-style: 40px;
     align-items: center;
     padding: 15px 10px;
     overflow: hidden;
     text-transform: uppercase;
     text-overflow: ellipsis;
}
.logo-detaile .logo-title{
     line-height: 40px;
     display: block;
     font-size: 1.3rem;
     font-weight: 400;
     transition: all .3s ease-in-out;
     opacity: 0;
}
.sidebar.active .logo .logo-title{
     opacity: 1;
     transition: all .3s ease-in-out;
}
.logo #btnMenu{
     position: absolute;
     text-align: center;
     right: 0;
     height: 50px;
     min-width: 50px;
     left: 48%;
     top:1.5rem;
     font-size: 1.3rem;
     transform: translateX(-50%);
     cursor: pointer;
}
.sidebar.active .logo #btnMenu{
     left: 90%;
}
.menu{
     margin: 0;
     height: 430px;
     padding: 10px 14px;     
     overflow: auto;
}
.menu::-webkit-scrollbar{
     width: 3px;     
     border-radius: 30%;  
}
.menu::-webkit-scrollbar-track{
     background-color: rgba(0, 0, 0, 0.16);
}
.menu::-webkit-scrollbar-thumb{
     background-color: rgba(0, 0, 0, 0.23);
     border-radius: 30px;     
}
.menu::-webkit-scrollbar-thumb:hover{
     background-color: rgba(0, 0, 0, 0.3)
}

.menu .item-menu{
    list-style: none;
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    margin: 5px 0;
    line-height: 50px;
    
}
.item-menu .item-menu-label{
     text-decoration: none;
     text-transform: uppercase;
     text-overflow: ellipsis;
     align-items: center;
     display: flex;          
     border-radius: 10px;
     overflow: hidden;     
     white-space: nowrap;
     z-index: 1000;
}
.item-menu .item-menu-label i{
     height: 60px;
     min-width: 50px;
     line-height: 60px;
     font-size: 1.2rem;
     text-align: center;
     
}
.item-menu .item-menu-label .item-menu-title{
     font-size: .8rem;
     transition: all .3s ease;
     pointer-events: none;
     margin-left: .2rem;
     text-overflow: ellipsis;
     transition: all .3s ease;
     
}
.item-menu .item-menu-label.HD:hover{
     background: #283046!important;
     border-radius: 10px;
     color: #ffffff;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HG:hover{
     background: #388e3c!important;
     border-radius: 10px;
     color: #ffffff;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HPI:hover{
     background: #d81b60!important;
     border-radius: 10px;
     color: #ffffff;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HBL:hover{
     background: #1e88e5!important;
     border-radius: 10px;
     color: #ffffff;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HD.active{
     background: #283046;
     border-radius: 10px;
     color: #ffffff!important;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HG.active{
     background: #388e3c!important;
     border-radius: 10px;
     color: #ffffff!important;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HPI.active{
     background: #d81b60!important;
     border-radius: 10px;
     color: #ffffff!important;
     transition: all .3s ease;
}
.item-menu .item-menu-label.HBL.active{
     background: #1e88e5!important;
     border-radius: 10px;
     color: #ffffff!important;
     transition: all .3s ease;
}
.icon-arrordown{
     position: absolute;
     right: 0;
     font-size: 0.6rem!important;
     height: 50px;
     width: 10px;
     text-align: center;
     transform: rotateZ(-90deg);
     opacity: 0;
     transition: all .3s ease;
}
.sidebar.active .item-menu .item-menu-label .icon-arrordown{
     opacity: 1;
     transition: all .3s ease;
}
.item-menu .item-menu-label .icon-arrordown.open{
     transform: rotateZ(0deg);     
     transition: all .2s ease;
}

.menu .item-menu .tooltip{
     position:absolute;
     display: none;
     height: 40px;
     width: 120px;
     top:10px;
     left: 150px;     
     border-radius: 30px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     text-align: center;
     line-height: 40px;
     
     padding: 0;
     align-items: center;
     z-index: 100;
     text-transform: uppercase;
     font-size: .8rem;    
}

.submenu-panel{
     height: 0;
     transform: scaleZ(0);
     transition:height 3s linear;
     
}
.item-menu.container-submenu .submenu-panel.collapse {
     height: fit-content;
     transform: scaleZ(1);
     transition: height 3s linear;
     margin-top: 1rem;
}

.main-content{
    position: absolute;
    width: calc(100%-80px);
    left: 80px;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    transition: all .3s ease;
}
.main-content .text{
     padding: 1rem;
}
.sidebar.active ~ .main-content{
     width: calc(100%-260px);
     left: 260px;
     transition: all .3s ease;
}
.color-panel{
     position: relative;
     height: 60px;
     flex-direction: column;
     overflow: hidden;
     padding: 10px 16px;
}
.color-panel>div{
     overflow: hidden;
     line-height: 30px;
     align-items: center;
     padding: 16px 5px;
     display: inline-block;
}
button{
     position: relative;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     margin: 5px 5px;
     border: #000 1px solid;
     box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
}
#dianoche{
     background-color: #f5f5f5;
}
#init{
     background: #161d31;
}
#green{
     background: #388e3c;
}
#pink{
     background: #d81b60;
}
#blueLight{
     background: #1e88e5;
}