<div class="conteiner-main">
  <aside id="sidebar"  class="sidebar ">
    <div class="logo">
      <div class="logo-detaile">
        <div class="logo-title">
          <span>
            <font>AppsTergo</font>
          </span>
        </div>
      </div>
      <i id="btnMenu"class="icon-menu1"></i>
    </div>
    <div>
      <font>dia/noche</font>
      <div>
        <button id="dianoche">dia/noche</button>
      </div>
    </div>
    <div class="nav">
      <ul class="menu">
        <li class="item-menu">
            <a href="#" class="item-menu-label .cg ">
              <i class="icon-dashboard"></i>
              <span class="item-menu-title">Dashboard</span>              
            </a>
            <span class="tooltip light">label</span>
        </li>
        <li class="item-menu">
            <a href="#" class="item-menu-label ">
              <i class="icon-calendario"></i>              
              <span class="item-menu-title">Calendario</span>             
            </a>
            <span id="tooltip" class="tooltip light">label</span>
        </li>
        <li class="item-menu">
            <a href="#" class="item-menu-label ">
              <i class="icon-chat"></i>
              <span class="item-menu-title">Mensages</span>
              
            </a>
            <span class="tooltip light">label</span>
        </li>
        <li class="item-menu container-submenu">
            <a href="#" class="item-menu-label ">
              <i class="icon-store"></i>
              <span class="item-menu-title">Tienda</span>
              <i class="icon-arrordown"></i>
            </a>
            <span class="tooltip light ">
                <font style="vertical-align: inherit;"> Tienda</font>
            </span>
            <div class="submenu-panel">
              <ul class="submenu">
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
              </ul>
            </div>
        </li>
        <li class="item-menu container-submenu">
            <a href="#" class="item-menu-label ">
              <i class="icon-facturas"></i>
              <span class="item-menu-title">Facturas</span>
              <i class="icon-arrordown"></i>
            </a>
            <span class="tooltip light">label</span>
            <div class="submenu-panel">
              <ul class="submenu">
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
                <li class="item-menu">
                  <a href="#" class="item-menu-label ">
                      <i class="icon-circulo2"></i>
                      <span class="item-menu-title">sub label</span>
                  </a>
                </li>
              </ul>
            </div>
        </li>
      </ul>
    </div>
  </aside>
  <section class="main-content ">
    <div class="text">
      <span>
        <font> Estes en un texto de relleno</font>
      </span>
    </div>
    <router-outlet></router-outlet>
  
  </section>
</div>


